<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content="上海计算机软件技术开发中心-上海市计算机软件评测重点实验室"/>
	<meta name="keywords" content="软件中心;软件评测;重点实验室"/>
	<meta name="author" content="SSTL"/>
	<title>上海市计算机软件评测重点实验室</title>
	<link href="images/favicon.png" rel="shortcut icon" type="image/png">
	<link href="images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="assets/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/dist/css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="assets/dist/css/javascript-plugins-bundle.css" rel="stylesheet"/>
	<link href="assets/dist/js/menuzord/css/menuzord.css" rel="stylesheet"/>
	<link href="assets/dist/js/timeline-cp-responsive-vertical/timeline-cp-responsive-vertical.css" rel="stylesheet" type="text/css">
	<link href="assets/dist/css/style-main.css" rel="stylesheet" type="text/css">
	<link id="menuzord-menu-skins" href="assets/dist/js/menuzord/css/skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
	<link href="assets/dist/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="assets/dist/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
	<script src="assets/dist/js/jquery.js"></script>
	<script src="assets/dist/js/bootstrap.min.js"></script>
	<script src="assets/dist/js/javascript-plugins-bundle.js"></script>
	<script src="assets/dist/js/menuzord/js/menuzord.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/dist/js/revolution-slider/css/rs6.css">
	<script type="text/javascript" src="assets/dist/js/revolution-slider/js/revolution.tools.min.js"></script>
	<script type="text/javascript" src="assets/dist/js/revolution-slider/js/rs6.min.js"></script>
	<!--[if lt IE 9]>
	<script src="assets/dist/js/ie-support/html5shiv.min.js"></script>
	<script src="assets/dist/js/ie-support/respond.min.js"></script>
	<![endif]-->
</head>
<body class="container-1340px">
<div id="wrapper" class="clearfix">
	<header th:replace="common::topbar"></header>
	<div class="main-content-area">
		<section class="page-title divider layer-overlay overlay-dark-8 section-typo-light bg-img-center" data-tm-bg-img="images/bg/as02.jpg">
			<div class="container pt-90 pb-90">
				<div class="section-content">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2 class="title text-white">关于我们</h2>
							<nav role="navigation" class="breadcrumb-trail breadcrumbs">
								<div class="breadcrumbs">
									<span class="trail-item trail-begin">
										<a href="/"><span>首页</span></a>
									</span>
									<span><i class="fa fa-angle-right"></i></span>
									<span class="trail-item trail-end text-theme-colored1"><span>关于我们</span></span>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container pb-60">
				<div class="section-content">
					<div class="row">
						<div class="col-sm-9">
							<article class="post-single">
								<div class="entry-header mb-30">
									<div class="post-thumb thumb">
										<p>上海市计算机软件评测重点实验室（SSTL）是全国最早的第三方专业测评机构之一，具有三十余年的丰富行业经验，是上海市科委IT领域九大重点实验室之一，隶属于上海计算机软件技术开发中心。专业从事计算机软件工程、软件质量、信息安全等级保护测评、软件测试与评估、网络监测技术的研究，为组织信息化提供故障定位与性能调优服务，为信息系统建设提供信息化评估与测试外包服务，为软件系统提供全过程的质量保证专业服务。</p>
										<p>拥有价格超过5000万的评测工具和专业评测团队，通过中国合格评定国家认可委员会认可（CNAS）的认可实验室和检验机构认可、ISO/IEC 27001:2013信息安全管理体系认证。是中国软件测评机构联盟的发起单位和常务理事单位，上海软件质量管理与过程改进专业委员会主任委员单位。</p>
										<p>联系方式:</p>
										<table>
											<tr>
												<td>总部地址：上海市联航路1588号技术中心楼3楼</td>
												<td>邮编：201112</td>
											</tr>
											<tr>
												<td>联系电话：021-54325166</td>
												<td>传真：021-54325591</td>
											</tr>
											<tr>
												<td>受理地址：上海市钦州路100号1号楼706室</td>
												<td>邮编：021-64756987</td>
											</tr>
											<tr>
												<td>联系电话：021-64514397、021-64511296</td>
												<td>传真：021-64756987</td>
											</tr>
											<tr>
												<td>投诉电话：021-54325658、021-54325166-3300</td>
												<td>投诉邮箱：sstl_cs@sscenter.sh.cn</td>
											</tr>
										</table>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-3 sidebar-area sidebar-right">
							<div class="widget widget_categories">
								<h4 class="widget-title widget-title-line-bottom line-bottom-theme-colored1">栏目导航</h4>
								<ul>
									<li class="cat-item cat-item-16"><a href="/list?typestr=公示公告">公示公告</a></li>
									<li class="cat-item cat-item-16"><a href="/list?typestr=新闻中心">新闻中心</a></li>
									<li class="cat-item cat-item-17"><a href="/list?typestr=评测申请">评测申请</a></li>
									<li class="cat-item cat-item-17"><a href="/list?typestr=业务介绍">业务介绍</a></li>
									<li class="cat-item cat-item-18"><a href="/list?typestr=典型案例">典型案例</a></li>
									<li class="cat-item cat-item-18"><a href="/list?typestr=技术交流">技术交流</a></li>
									<li class="cat-item cat-item-19"><a href="/list?typestr=知识产权">知识产权</a></li>
									<li class="cat-item cat-item-19"><a href="/list?typestr=报告公告">报告公告</a></li>
								</ul>
							</div>
							<div class=" split-nav-menu clearfix widget widget-brochure-box clearfix"><a class="tm-widget tm-widget-brochure-box tm-widget-brochure-box-default brochure-box brochure-box-default  brochure-box-theme-colored1 mb-10" href="https://www.sstl-business.org.cn/" target="_blank"> <i class="brochure-icon fa fa-send"></i>
								<h5 class="text">业务受理</h5>
							</a></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="common::bottombar"></footer>
	<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<script src="assets/dist/js/custom.js"></script>

</body>
</html>

