<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="上海计算机软件技术开发中心-上海市计算机软件评测重点实验室"/>
    <meta name="keywords" content="软件中心;软件评测;重点实验室"/>
    <meta name="author" content="SSTL"/>
    <title>上海市计算机软件评测重点实验室</title>
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/dist/css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/dist/css/javascript-plugins-bundle.css" rel="stylesheet"/>
    <link href="/assets/dist/js/menuzord/css/menuzord.css" rel="stylesheet"/>
    <link href="/assets/dist/js/timeline-cp-responsive-vertical/timeline-cp-responsive-vertical.css" rel="stylesheet"
          type="text/css">
    <link href="/assets/dist/css/style-main.css" rel="stylesheet" type="text/css">
    <link id="menuzord-menu-skins" href="/assets/dist/js/menuzord/css/skins/menuzord-rounded-boxed.css"
          rel="stylesheet"/>
    <link href="/assets/dist/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/dist/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
    <script src="/assets/dist/js/jquery.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <script src="/assets/dist/js/javascript-plugins-bundle.js"></script>
    <script src="/assets/dist/js/menuzord/js/menuzord.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/dist/js/revolution-slider/css/rs6.css">
    <script type="text/javascript" src="/assets/dist/js/revolution-slider/js/revolution.tools.min.js"></script>
    <script type="text/javascript" src="/assets/dist/js/revolution-slider/js/rs6.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/assets/dist/js/ie-support/html5shiv.min.js"></script>
    <script src="/assets/dist/js/ie-support/respond.min.js"></script>
    <![endif]-->
</head>
<body class="container-1340px">
<div id="wrapper" class="clearfix">
    <header th:replace="common::topbar"></header>
    <div class="main-content-area">
        <section class="page-title divider layer-overlay overlay-dark-8 section-typo-light bg-img-center"
                 data-tm-bg-img="/images/bg/as02.jpg">
            <div class="container pt-90 pb-90">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="title text-white" th:text="实验室报告真伪校验"></h2>
                            <nav role="navigation" class="breadcrumb-trail breadcrumbs">
                                <div class="breadcrumbs">
									<span class="trail-item trail-begin">
										<a href="/"><span>首页</span></a>
									</span>
                                    <span><i class="fa fa-angle-right"></i></span>
                                    <span class="trail-item trail-end text-theme-colored1"><span
                                            th:text="实验室报告真伪校验"></span></span>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container pb-80">
                <h3 class="title text-success" align="center">查询结果</h3>
                <table>
                    <tr>
                        <td style="width: 35%"><strong>项目名称</strong></td>
                        <td th:text="${projectName}"></td>
                    </tr>
                    <tr>
                        <td><strong>项目编号</strong></td>
                        <td th:text="${projectCode}"></td>
                    </tr>
                    <tr>
                        <td><strong>送测单位</strong></td>
                        <td th:text="${company}"></td>
                    </tr>
                    <tr>
                        <td><strong>项目经理</strong></td>
                        <td th:text="${manager}"></td>
                    </tr>
                    <tr>
                        <td><strong>报告批准</strong></td>
                        <td th:text="${approval}"></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    <footer th:replace="common::bottombar"></footer>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<script src="/assets/dist/js/custom.js"></script>
<script src="/assets/dist/js/simpleLoadMore.js"></script>
</body>
</html>

